.si-container
  height 5em
  font-family font
  border-bottom 2px solid #E1E1E2
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  &:hover
    background #F5F5F6
    
  .si-number
    color: #E1E1E2
    float left
    font-size x-large
    margin-right 8px
    margin-left 8px
    min-width 1.25em


  .si-name
    font-size inherit

  img
    height 16
    margin-left auto
    padding-right 12

  .si-required-step
    color grey
    font-size x-small
    width 90%
    margin-left 4.75em