.steplist-container
  width 25%
  float left
  overflow auto
  height 100vh

.labels p
  color white
  float center
  font-family font
  height 30px
  margin-top 0
  margin-bottom 1
  display flex
  align-items center
  align-content center
  justify-content center

.step
  background #3FD1CE

.trigger
  background #35ADAE