font = Helvetica, sans-serif

//import navbar styles
@import "../navbar/navbar.styl"
//import step list styles
@import "../steplist/steplist.styl"
//import step item styles
@import "../stepitem/stepitem.styl"
//import detail view  styles
@import "../detailview/detailview.styl"
//import process view styles
@import "../processinfo/processinfo.styl"
//import step detail styles
@import "../stepinfo/stepinfo.styl"

