.nav-wrapper {
  height: 10vh;
  background-color: #51556c;
  display: flex;
  align-items: center;
}
.logo {
  width: 33%;
  display: inline-block;
  background-color: #474a63;
  height: 100%;
}
.logo span {
  font-family: Helvetica, sans-serif;
  color: #fff;
  height: 100%;
  float: right;
  padding-right: 20px;
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
}
.logo span .version {
  color: #898d93;
  font-family: Helvetica, sans-serif;
  font-size: x-small;
}
.nav-items {
  width: 100%;
  display: inline;
  padding-left: 2%;
}
.nav-item {
  padding: 15px;
}
.right-nav-item {
  float: right;
  padding-right: 50px;
}
.right-nav-item a {
  color: #898d93;
  font-family: Helvetica, sans-serif;
}
.right-nav-item a:hover {
  text-decoration: none;
  color: #edf0f4;
}
.nav-item a {
  color: #898d93;
  font-family: Helvetica, sans-serif;
}
.nav-item a:hover {
  text-decoration: none;
  color: #edf0f4;
}
#pushbot-img {
  height: 100%;
}
.steplist-container {
  width: 23%;
  float: left;
  overflow: auto;
  height: 100vh;
}
.labels p {
  color: #fff;
  float: center;
  font-family: Helvetica, sans-serif;
  height: 30px;
  margin-top: 0;
  margin-bottom: 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.step {
  background: #3fd1ce;
}
.trigger {
  background: #35adae;
}
